@{
    ViewData["Title"] = "Home Page";
}

@model ProjectsList

<h2>Spencer's Reads</h2>
@foreach (Book b in Model.Books)
{ 
    <partial name="BookCard" model="b"/>
}
<br/>
<div page-model="@Model.PaginationInfo" page-action="Index" classes-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group"></div>